@import "../../../../theme-variables.css";

.article-header-wrapper {
    color: var(--letter-color-black);
    padding: 0 30px;
}

.article-header {
    padding: 10px 0;
}

@media (min-width: 50em) {
    .article-header-wrapper {
        padding: 30px;
    }

    .article-header {
        margin-top: 30px;
    }
}