.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 30px;
    flex-direction: row-reverse;
}

.pagination > .article-action-prev-page{
    align-self: flex-start;
}

.pagination > .article-action-next-page{
    align-self: flex-end;
}